<strong>Olá, {{provider}}!</strong>

<p>Houve um cancelamento em sua agenda, confira abaixo:</p>
<p>
  <strong>O cliente: </strong> {{user}} <br />
  <strong>Data/hora: </strong> {{date}} <br />
  <br />

  <small>
    O horaio está disponível para um novo agendamento.
  </small>
</p>
